
@model IEnumerable<Learner>

<table class="table table-striped">
    <thead>
        <tr>
            <th>MÃ</th>
            <th>Tên</th>
            <th>Họ</th>
            <th>Ngày Nhập Học</th>
            <th>Chức Năng</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var s in Model)
        {
            <tr>
                <td>@s.LearnerID</td>
                <td>@s.FirstMidName</td>
                <td>@s.LastName</td>
                <td>@(s.Major?.MajorName ?? "N/A")</td>
                <td>@s.EnrollmentDate</td>
                <td><a asp-action="Edit" asp-route-id="@s.LearnerID">Edit</a>|<a asp-action="Delete" asp-route-id="@s.LearnerID">Delete</a></td>
            </tr>
        }
    </tbody>
</table>

<!--Phan trang-->
<ul class="pagination">
    @for (int i = 1; i <= ViewBag.pageNum; i++)
    {
        <li class="page-item"
            data-page="@i"
            data-major=@(ViewBag.MajorId != null ? $"majorId='{ViewBag.MajorId}'" : "")
            data-keyword=@(ViewBag.Keyword != null ? $"keyword='{ViewBag.Keyword}'" : null)>
            <a class="page-link">@i</a>
        </li>
    }
</ul>
